name: LlamaGuard
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - pip
  - numpy
  - pandas
  - jupyter
  - notebook
  - ipykernel
  - matplotlib
  - seaborn
  - psutil
  - pip:
    - requests>=2.31.0
    - GPUtil>=1.4.0